<div class="order-complete">
  <div class="container">
    <breadcrumb></breadcrumb>

    <process></process>

    <div class="row">
      <div class="col-md-12 icon-check--wrapper">
        <div class="icon-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-12 thank-you-title">
        <h1>Cảm ơn bạn đã mua sắm! Đơn hàng của bạn đã được thanh toán thành công</h1>
      </div>
      <div class="row col-md-12">
        <div class="col btn-back-home">
          <a href="../../../../index.html" class="btn btn-primary">Trở về trang chủ</a>
        </div>
        <div class="col btn-continue-shopping">
          <a href="../../../../index.html" class="btn btn-primary">Tiếp tục mua sắm</a>
        </div>
      </div>
    </div>
  </div>
</div>
