<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col col-xl-12">
        <div class="bread d-flex">
  <span>
    <a href="" class="">Trang chủ /</a>
  </span>
  <div *ngIf="gender === 'search'">
    <a class="me-1 text-dark">{{title}}</a>
  </div>
  <span *ngIf="gender !== 'search'">
    <a [routerLink]= "['/product', gender]"  class="d-block">{{title}}</a>
  </span>
  /
  <span>
    {{last}}
  </span>
        </div>
      </div>
    </div>
  </div>
</div>

