$sub-text-color: #757575;
$default-color:#0068f0;
$white:#ffffff;
$fix:#1a9cb7;
$delete:red;
$acive:#4caf50;
.background {
  background-color: $white;
  width: 1000px;
  .header {
    .header-title {
    font-size: 25px;
      padding-left: 10px;
      padding-top: 10px;

    }

  }

  .table {
    .title {
      color: $sub-text-color;
    }
    .content{
      font-size: 15px;
      font-weight: 400;

    }
    .wrap-button{
      .btn-fix{
        border: none;
        background-color:$white;
        color: $fix;
      }
      .btn-delete{
        border: none;
        background-color:$white;
        color: $delete;
        margin-left: 10px;
      }
    }
  }
}
.active{
  font-weight: bold !important;
}
