<div class="container">
  <div class="row ">
    <div class="background col-12">
      <div class="header">
        <p class="header-title">Sổ địa chỉ</p>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th class="title" scope="col">Họ tên</th>
          <th class="title" scope="col">Địa chỉ</th>
          <th class="title" scope="col">SĐT</th>
          <th class="title" scope="col"></th>
          <th class="title" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td class="content">Hoàng Nguyễn Quang Huy</td>
          <td class="content">Tổ 24, Phước Tân, Biên Hoà, Đồng Nai</td>
          <td class="content">0982377894</td>
          <td class="content active">Mặc định</td>
          <td class="content" >
            <div class="wrap-button">
              <button class="btn-fix">Sửa</button>
              <button class="btn-delete">Xóa</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td class="content">Hoàng Nguyễn Quang Huy</td>
          <td class="content">Tổ 24, Phước Tân, Biên Hoà, Đồng Nai</td>
          <td class="content">0982377894</td>
          <td class="content "> </td>
          <td class="content" >
            <div class="wrap-button">
              <button class="btn-fix">Sửa</button>
              <button class="btn-delete">Xóa</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td class="content">Hoàng Nguyễn Quang Huy</td>
          <td class="content">Tổ 24, Phước Tân, Biên Hoà, Đồng Nai</td>
          <td class="content">0982377894</td>
          <td class="content "> </td>
          <td class="content" >
            <div class="wrap-button">
              <button class="btn-fix">Sửa</button>
              <button class="btn-delete">Xóa</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td class="content">Hoàng Nguyễn Quang Huy</td>
          <td class="content">Tổ 24, Phước Tân, Biên Hoà, Đồng Nai</td>
          <td class="content">0982377894</td>
          <td class="content "> </td>
          <td class="content" >
            <div class="wrap-button">
              <button class="btn-fix">Sửa</button>
              <button class="btn-delete">Xóa</button>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
      <div class="button-add-address float-end pb-3">
        <button type="button" class="btn btn-primary "> + Thêm địa chỉ</button>
      </div>
    </div>
  </div>
</div>

