<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'" class="slides">
  <mdb-carousel-item *ngFor="let slide of slides" [interval]="3000">
    <img src="{{slide.image}}" class="d-block w-100" alt="..."/>
    <div class="container-fluid overlay">
      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center slider-text">
          <div class="slider-text-inner">
            <div class="desc">
              <h1 class="head-1">{{slide.title}}</h1>
              <p class="description"><span>{{slide.description}}</span></p>
              <p><a href="{{slide.link}}" class="btn btn-primary">{{slide.linkText}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
