<div class="order-list-tab">
  <div class="container">


    <div class="row ">
      <span class="order-tab-item order-tab-item-active col-md-2"> Tất cả</span>
      <a class="order-tab-item col-md-2 "> Chờ xác nhận <span class="value">(1)</span></a>
      <a class="order-tab-item col-md-2"> Chờ lấy hàng <span class="value"></span></a>
      <a class="order-tab-item col-md-2"> Chờ vận chuyển<span class="value"></span></a>
      <a class="order-tab-item col-md-2"> Đã giao<span class="value"></span></a>
      <a class="order-tab-item col-md-2"> Đã huỷ<span class="value"></span></a>
    </div>
  </div>
</div>
<div class="order-component">
  <div class="status">
    <p class="status-detail">Đã tiếp nhận</p>
  </div>
  <div class="order-item">
    <div class="row">
      <div class="item-pic col-md-2"><img
        src="https://product.hstatic.net/1000230642/product/0688_965b9a9d0b19435da9a28c402ccd71e2.png" alt=""
        class="image-product"></div>
      <div class="item-info col-md-4">
        <div class="info-product">
          Giày Bitis Hunter Midnight Black
        </div>
        <div class="sub-info-product">
          <span class="filter">Phân loại hàng: <span class="filter-detail">Đen</span></span>
        </div>
      </div>
      <div class="item-price col-md-3">1.000.000 đ</div>
      <div class="item-quantity col-md-3"><span class="label-quantity">Qty: <span class="quantity">1</span> </span>
      </div>
    </div>

  </div>
  <div class="order-wrap-total-price">
    <span class="total-price">Tổng số tiền: <span class="total-price-value">1.000.000đ</span></span>
    <div class="wrap-button">
      <button class="btn btn-primary btn-order-cancel">Huỷ đơn hàng</button>
    </div>
  </div>
</div>
<div class="order-component">
  <div class="status">
    <p class="status-detail">Đã tiếp nhận</p>
  </div>
  <div class="order-item">
    <div class="row">
      <div class="item-pic col-md-2"><img
        src="https://product.hstatic.net/1000230642/product/0688_965b9a9d0b19435da9a28c402ccd71e2.png" alt=""
        class="image-product"></div>
      <div class="item-info col-md-4">
        <div class="info-product">
          Giày Bitis Hunter Midnight Black
        </div>
        <div class="sub-info-product">
          <span class="filter">Phân loại hàng: <span class="filter-detail">Đen</span></span>
        </div>
      </div>
      <div class="item-price col-md-3">1.000.000 đ</div>
      <div class="item-quantity col-md-3"><span class="label-quantity">Qty: <span class="quantity">1</span> </span>
      </div>
    </div>

  </div>
  <div class="order-wrap-total-price">
    <span class="total-price">Tổng số tiền: <span class="total-price-value">1.000.000đ</span></span>
    <div class="wrap-button">
      <button class="btn btn-primary btn-order-cancel">Huỷ đơn hàng</button>
    </div>
  </div>
</div>
<div class="order-component">
  <div class="status">
    <p class="status-detail">Đã tiếp nhận</p>
  </div>
  <div class="order-item">
    <div class="row">
      <div class="item-pic col-md-2"><img
        src="https://product.hstatic.net/1000230642/product/0688_965b9a9d0b19435da9a28c402ccd71e2.png" alt=""
        class="image-product"></div>
      <div class="item-info col-md-4">
        <div class="info-product">
          Giày Bitis Hunter Midnight Black
        </div>
        <div class="sub-info-product">
          <span class="filter">Phân loại hàng: <span class="filter-detail">Đen</span></span>
        </div>
      </div>
      <div class="item-price col-md-3">1.000.000 đ</div>
      <div class="item-quantity col-md-3"><span class="label-quantity">Qty: <span class="quantity">1</span> </span>
      </div>
    </div>

  </div>
  <div class="order-wrap-total-price">
    <span class="total-price">Tổng số tiền: <span class="total-price-value">1.000.000đ</span></span>
    <div class="wrap-button">
      <button class="btn btn-primary btn-order-cancel">Huỷ đơn hàng</button>
    </div>
  </div>
</div>
