<div class="wrap-order-component">
  <div *ngFor="let order of orders" class="order-component">
    <div class="status">
      <a class="status-detail">{{order.status.name}}</a>
      <div class="wrap-item-detail">
        <a [routerLink]="['/account/orderdetail-history', order.orderTrackingNumber]" class="status-item-detail">Chi tiết</a>
      </div>
    </div>
    <div *ngFor="let orderItem of order.orderItems, let i = index" class="order-item">
      <div class="row">
        <div class="item-pic col-md-2"><img
          src="{{images.get(order.id)}}" alt=""
          class="image-product"></div>
        <div class="item-info col-md-4">
          <div class="info-product">{{orderItem.productDetail.name}}</div>
          <div class="sub-info-product">
            <span class="filter">Phân loại hàng: <span class="filter-detail">{{orderItem.productDetail.size}}</span></span>
          </div>
        </div>
        <div class="item-price col-md-3">{{formatVND(orderItem.unitPrice)}}</div>
        <div class="item-quantity col-md-3"><span class="label-quantity">Qty: <span class="quantity">{{orderItem.quantity}}</span> </span>
        </div>
      </div>
    </div>
    <div class="order-wrap-total-price">
      <span class="total-price">Tổng số tiền: <span class="total-price-value">{{formatVND(order.totalPrice)}}</span></span>
      <div class="wrap-button">
        <button *ngIf="order.status.id === 0" class="btn btn-primary btn-order-cancel" (click)="openPopConfirm($event,
        order.orderTrackingNumber)">Huỷ đơn hàng</button>
      </div>
    </div>
  </div>
</div>


