<div class="contact-bg">
  <div class="review-bg">
    <div class="container">
      <div class="row justify-content-xl-center">
        <div class="bg-content col col-xl-8 ">
          <h1 class="heading-about mt-4">Meet Our Team</h1>
          <p class="content-about ps-5 pe-5">We are all very different. We were born in different cities, at different
            times, we
            love different music, food, movies. But we have something that unites us all. It is our company. We are its
            heart. We are not just a team, we are a family.</p>
          <div class="button-contact">
            <a class="btn btn-xl btn-black-out-line btn-contact" href="#form-contact-us">CONTACT US</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="break-img">
  </div>
  <div class="skill">
    <div class="container">
      <div class="row">
        <div class="p-3 col col-xl-4">
          <div class="card-img pb-3"><i class="fa-solid fa-user-group"></i></div>
          <div class="card-content">
            <h4 class="card-title">Creativity</h4>
            <p class="card-sub">It's the ability to think outside the box. We make decisions, create something new and
              generate a lot of ideas.</p>
          </div>
        </div>
        <div class="p-3 col col-xl-4">
          <div class="card-img pb-3"><i class="fa-solid fa-earth-asia"></i></div>
          <div class="card-content">
            <h4 class="card-title">Worldwide</h4>
            <p class="card-sub">All sites you make with Mobirise are mobile-friendly. You don't have to create a special
              mobile version of your site.</p>
          </div>
        </div>
        <div class="p-3 col col-xl-4">
          <div class="card-img pb-3"><i class="fa-solid fa-face-grin-wide"></i></div>
          <div class="card-content">
            <h4 class="card-title">Unique Styles</h4>
            <p class="card-sub">Mobirise offers many site blocks in several themes, and though these blocks are
              pre-made, they are flexible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <div class="container">
      <h1 class="heading-form">CONTACT US</h1>
    </div>
    <div class="container">
      <form id="form-contact-us">
        <div class="wrap-form row">
          <div class="col col-xl-4">
            <div class="form-group-about d-flex flex-column">
              <label for="form-name">Name</label>
              <input class="form-contact" id="form-name" type="text">
            </div>
          </div>
          <div class="col col-xl-4">
            <div class="form-group-about d-flex flex-column">
              <label for="form-email">Email</label>
              <input class="form-contact" id="form-email" type="email">
            </div>
          </div>
          <div class="col col-xl-4">
            <div class="form-group-about d-flex flex-column">
              <label for="form-phone">Phone</label>
              <input class="form-contact" id="form-phone" type="text">
            </div>
          </div>
        </div>
        <div class="form-group-about d-flex flex-column">
          <label for="form-message">Message</label>
          <textarea class="form-contact" id="form-message" type="text"></textarea>
        </div>
        <div class="button-contact mt-4">
          <a class="btn btn-xl btn-black-out-line btn-contact">SEND FORM</a>
        </div>
      </form>
    </div>
  </div>
</div>
