.product-card {
  display: block;
  .product-image {
    padding-top:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .product-info{
    padding: 1.5rem;
    .name {
      color: #000;
      font-size: 18px;
      text-transform: uppercase;
    }
    .price {
      display: block;
      font-family: "Rokkitt", Georgia, serif;
      font-size: 18px;
      color: #000;
      font-weight: 400;
    }
  }
}
