<breadcrumb></breadcrumb>
<div class="cart">
  <div class="container">
    <process
      [process] = 1
    ></process>

    <table
      class="cart-list">
      <thead>
      <tr>
        <th class="detail">Chi tiết sản phẩm</th>
        <th class="price">Giá</th>
        <th class="quantity">Số lượng</th>
        <th class="total">Tổng tiền</th>
        <th class="remove">Xóa bỏ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cartItem of cart">
        <th class="detail">
<!--          <img src="{{}}" alt="" class="image">-->
          <p class="name">{{cartItem!.productDetailDto!.name}} </p>
        </th>
        <th class="price">{{formatVND(cartItem!.productDetailDto!.unitPrice)}}</th>
        <th class="quantity">
          <input
            (change) = "onChangeQuantity($event, cartItem.productDetailDto.id)"
            type="number" name="quantity" value="{{cartItem!.quantity}}"  min="1">
        </th>
        <th class="total">{{formatVND(cartItem!.productDetailDto!.unitPrice * cartItem!.quantity)}}</th>
        <th class="remove"
            (click) = "removeCartItem($event, cartItem.productDetailDto.id)"
        ><i class="fas fa-times"></i></th>
      </tr>
      </tbody>
    </table>

    <div class="total-cart">
      <div class="row">
        <div class="col-md-4 offset-md-8 total-cart--wrapper">
          <div class="row total">
            <p class="col-md-6">Tổng tiền tất cả:</p>
            <p id="totalPrice" class="col-md-6">{{formatVND(totalPriceInCart())}}</p>
          </div>
          <div class="row btn-checkout mt-2">
            <button
              (click) = "onCheckout()"
              class="btn btn-primary">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
