<div class="cart">
  <div class="container">
    <process></process>

    <table class="cart-list">
      <thead>
      <tr>
        <th class="detail">Chi tiết sản phẩm</th>
        <th class="price">Giá</th>
        <th class="quantity">Số lượng</th>
        <th class="total">Tổng tiền</th>
        <th class="remove">Xóa bỏ</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="detail">
          <img src="/assets/image/cart-item-1.jpg" alt="" class="image">
          <p class="name">Tên sản phẩm</p>
        </th>
        <th class="price">300.000đ</th>
        <th class="quantity">
          <input type="number" name="quantity" value="1"  min="1">
        </th>
        <th class="total">1.000.000đ</th>
        <th class="remove"><i class="fas fa-times"></i></th>
      </tr>
      <tr>
        <th class="detail">
          <img src="/assets/image/cart-item-1.jpg" alt="" class="image">
          <p class="name">Tên sản phẩm</p>
        </th>
        <th class="price">300.000đ</th>
        <th class="quantity">
          <input type="number" name="quantity" value="1"  min="1">
        </th>
        <th class="total">1.000.000đ</th>
        <th class="remove"><i class="fas fa-times"></i></th>
      </tr>
      </tbody>
    </table>

    <div class="total-cart">
      <div class="row">
        <div class="col-md-4 offset-md-8 total-cart--wrapper">
          <div class="row sub-total">
            <p class="col-md-6">Tổng tiền:</p>
            <p class="col-md-6">1.000.000đ</p>
          </div>
          <div class="row delivery">
            <p class="col-md-6">Phí vận chuyển:</p>
            <p class="col-md-6">0đ</p>
          </div>
          <div class="row discount">
            <p class="col-md-6">Giảm giá:</p>
            <p class="col-md-6">0đ</p>
          </div>
          <hr>
          <div class="row total">
            <p class="col-md-6">Tổng tiền tất cả:</p>
            <p class="col-md-6">1.000.000đ</p>
          </div>
          <div class="row btn-checkout mt-2">
            <button class="btn btn-primary">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
