<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="/assets/css/icomoon.css">
  <!-- Ion Icon Fonts-->
  <link rel="stylesheet" href="/assets/css/ionicons.min.css">
</head>
<body>
<div id="page">
  <!-- Loader -->
  <!--<div class="loader"></div>-->
  <!-- End Loader -->

  <!-- Header -->
  <app-header></app-header>
  <!-- End Header -->

  <!-- Main Content -->
  <router-outlet></router-outlet>
  <!-- End Main Content -->

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- End Footer -->

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
  </div>
</div>
<script src="/assets/js/script.js"></script>
</body>
</html>
