<div class="container mt-5">
  <div class="top-menu row">
    <div class="col col-xl-8" style="">
      <p class="header-title">Footwear</p>
    </div>
    <div class="col col-xl-4" style="">
      <div class="wrap-search d-flex">
        <form action="/product/search" method="get">
          <input type="text" class="search-input" id="search" name="query" (keydown)="submitSearch($event)" placeholder="Tìm kiếm">
        </form>
        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button [routerLink]="['/account']" class="user-button" style="position: relative">
          <i class="fa-solid fa-user"></i>
          <ul *ngIf="authenticationService.isLoggedIn()" class="dropdown-menu ">
            <li><a class="dropdown-item" [routerLink]="['/account']">Người dùng</a></li>
            <li>
              <button class="dropdown-item" (click)="logout()">Đăng xuất</button>
          </ul>
        </button>
      </div>
    </div>
  </div>
  <div class="heading-control row">
    <div class="col col-xl-8 " style="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
        <li class="nav-items active">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']">Trang chủ</a>
        </li>
        <li class="nav-items ms-5">
          <a class="nav-link" [routerLink]="['/product/male']">Sản phẩm Nam</a>
        </li>
        <li class="nav-items ms-5">
          <a class="nav-link" [routerLink]="['/product/female']">Sản phẩm Nữ</a>
        </li>
        <li class="nav-items ms-5">
          <a class="nav-link" [routerLink]="['/about']" role>Giới thiệu</a>
        </li>
      </ul>
    </div>
    <div class="wrap-title col col-xl-4 ">
      <a [routerLink]="['/cart']" class="cart-title"><i class="fa-solid fa-cart-shopping"></i>
        <div class="number-cart-title">Giỏ hàng</div>
        <div class="number" id="quantityInCart">[{{quantityInCart}}]</div>
      </a>
    </div>
  </div>
</div>
<div class="wrap-banner">
  <div class="col col-xl-8 offset-xl-2 text-center">
    <div class="row">
      <div class="owl-carousel2">
        <div class="item">
          <div class="col">
            <div class="banner"><a class="text-banner" href="#">Chào mừng bạn đến với website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
