<div class="container mt-5">
  <div class="top-menu row">
    <div class="col col-xl-8" style="">
      <p class="header-title">Footwear</p>
    </div>
    <div class="col col-xl-4" style="">
      <div class="wrap-search d-flex">
        <input type="text" class="search-input" placeholder="Tìm kiếm">
        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button [routerLink]="['/account']" class="user-button" style="position: relative">
          <i class="fa-solid fa-user"></i>
            <ul *ngIf="authenticationService.isLoggedIn()" class="dropdown-menu ">
              <li><a class="dropdown-item" [routerLink]="['/account']">Người dùng</a></li>
              <li><button class="dropdown-item" (click)="logout()">Đăng xuất</button>
            </ul>
        </button>
      </div>
    </div>
  </div>
  <div class="heading-control row">
    <div class="col col-xl-8 " style="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
        <li class="nav-items active">
          <a class="nav-link" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="nav-items ms-5">
          <a class="nav-link" [routerLink]="['/product/nam']">Sản phẩm Nam</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/account']">Giày thể thao</a></li>
            <li><a class="dropdown-item" href="#">Giày bóng đá </a></li>
            <li><a class="dropdown-item" href="#">Giày cơ bản</a></li>
            <li><a class="dropdown-item" href="#">Sandal</a></li>
            <li><a class="dropdown-item" href="#">Giày da</a></li>
          </ul>
        </li>
        <li class="nav-items ms-5">
          <a class="nav-link" [routerLink]="['/product/nữ']">Sản phẩm Nữ</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/account']">Giày thể thao</a></li>
            <li><a class="dropdown-item" href="#">Giày búp bê </a></li>
            <li><a class="dropdown-item" href="#">Giày thời trang</a></li>
            <li><a class="dropdown-item" href="#">Boots</a></li>
            <li><a class="dropdown-item" href="#">Giày cơ bản</a></li>
            <li><a class="dropdown-item" href="#">Sandal</a></li>
          </ul>
        </li>
        <li class="nav-items ms-5">
          <a class="nav-link" href="/about" role>Giới thiệu</a>
        </li>
      </ul>
    </div>
    <div class="wrap-title col col-xl-4 ">
      <a [routerLink]="['/cart']" class="cart-title"><i class="fa-solid fa-cart-shopping"></i>
        <div class="number-cart-title">Giỏ hàng</div>
        <div class="number" id="quantityInCart">[{{quantityInCart}}]</div>
      </a>
    </div>
  </div>
</div>
<div class="wrap-banner">
  <div class="col col-xl-8 offset-xl-2 text-center">
    <div class="row">
      <div class="owl-carousel2">
        <div class="item">
          <div class="col">
            <div class="banner"><a class="text-banner" href="#">(25% off) Everything! Sử dụng Mã: Summer Sale</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
