<div class="sidebar-background" >
<div class="top-sidebar d-flex flex-row">
  <div class="img">
    <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/277767378_3192045234372468_4606540482441785424_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=CnfQZXUcwaAAX9vJhfk&tn=1nB09Cyra-twYRJY&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT9j1Hgp6N1XhxHPMhQSm7tuBmwr_GXPDw8aXDMHh4BDyA&oe=63023FAF" class="avatar">
  </div>
  <div class="wrap-name d-flex flex-column">
    <div class="name">Quang Huy</div>
    <img class="verify-account" src="https://laz-img-cdn.alicdn.com/tfs/TB1Yvbxh8HH8KJjy0FbXXcqlpXa-208-40.png" alt="">
  </div>
</div>
  <div class="body-sidebar d-flex flex-column">
    <ul class="sidebar-side">
      <li class="sidebar-items">
        <a  class="sidebar-link" aria-current="page" href="/account"><i class="fa-solid fa-user me-3" ></i>Quản lý tài khoản</a>
        <ul id="user-group" class="sidebar-children">
          <li><a class="sidebar-children-link" href="/account/profile">Thông tin cá nhân</a></li>
          <li><a class="sidebar-children-link" href="/account/address">Địa chỉ</a></li>
        </ul>
      </li>
    </ul>
    <ul class="sidebar-side">
      <li class="sidebar-items">
        <a class="sidebar-link" aria-current="page" href="/account/order-history"><i class="fa-solid fa-money-bill me-3" ></i>Đơn hàng của tôi</a>
      </li>
    </ul>
  </div>
</div>
