<div class="contact-bg">
  <div class="review-bg">
    <div class="container">
      <div class="row justify-content-xl-center">
        <div class="bg-content col col-xl-8 ">
          <h1 class="heading-about mt-4">Về Footwear</h1>
          <p class="content-about ps-5 pe-5">Footwear cung cấp các sản phẩm giày nổi tiếng từ các thương hiệu đến từ
            Việt Nam như Biti's, Ananas, Vina Giầy đến các thương
            hiệu quốc tế như Adidas, Nike, Balenciaga.</p>
          <div class="button-contact">
            <a class="btn btn-xl btn-black-out-line btn-contact" href="#form-contact-us">Kết nối với chúng tôi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="break-img">
  </div>
  <div class="skill">
    <div class="container">
      <div class="row">
        <div class="p-3 col col-xl-4">
          <div class="card-img pb-3"><img src="../../../../assets/image/langnghe.png" alt="" class="slogan"></div>
          <div class="card-content">
            <h4 class="card-title">Luôn lắng nghe</h4>
            <p class="card-sub">Mọi vấn đề, mọi phản ảnh, đóng góp của khách hàng luôn được chúng tôi lắng nghe.</p>
          </div>
        </div>
        <div class="p-3 col col-xl-4">
          <div class="card-img pb-3"><img src="../../../../assets/image/thauhieu.png" alt="" class="slogan"></div>
          <div class="card-content">
            <h4 class="card-title">Luôn thấu hiểu</h4>
            <p class="card-sub">Mong muốn đáp ứng được đầy đủ yêu cầu của khách hàng khi đến cửa hàng của chúng tôi.</p>
          </div>
        </div>
        <div class="p-3 col col-xl-4">
          <div class="card-img pb-3"><img src="../../../../assets/image/caithien.png" alt="" class="slogan"></div>
          <div class="card-content">
            <h4 class="card-title">Luôn cải thiện</h4>
            <p class="card-sub">Chúng tôi đã và đang cố gắng hoàn thiện chất lượng hơn để ngày càng phát triển phục vụ
            khách hàng ở mức độ hài lòng tốt nhất.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <div class="container">
      <h1 class="heading-form">Liên hệ với chúng tôi</h1>
    </div>
    <div class="container">
      <form id="form-contact-us">
        <div class="wrap-form row">
          <div class="col col-xl-4">
            <div class="form-group-about d-flex flex-column">
              <label for="form-name">Tên</label>
              <input class="form-contact" id="form-name" type="text">
            </div>
          </div>
          <div class="col col-xl-4">
            <div class="form-group-about d-flex flex-column">
              <label for="form-email">Email</label>
              <input class="form-contact" id="form-email" type="email">
            </div>
          </div>
          <div class="col col-xl-4">
            <div class="form-group-about d-flex flex-column">
              <label for="form-phone">Số điện thoại</label>
              <input class="form-contact" id="form-phone" type="text">
            </div>
          </div>
        </div>
        <div class="form-group-about d-flex flex-column">
          <label for="form-message">Lời nhắn</label>
          <textarea class="form-contact" id="form-message" type="text"></textarea>
        </div>
        <div class="button-contact mt-4">
          <a class="btn btn-xl btn-black-out-line btn-contact">Gửi</a>
        </div>
      </form>
    </div>
  </div>
</div>
