<div class="container">
  <div class="row ">
    <div class="background col col-12">
      <div class="header">
        <p class="header-title">Đổi mật khẩu</p>
      </div>
      <form #changePasswordForm="ngForm" [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmit(changePasswordForm.value)">
        <div class="wrap-form-change-password ">
          <div class="form-outline m-2" style="width: 50%">
            <label class="input-placeholder">Mật khẩu hiện tại</label>
            <input formControlName="oldPassword" type="password" class="form-control"
            />
            <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="help-block mt-1">
              <div *ngIf="oldPassword.errors?.required" class="text-danger">
                Vui lòng nhập mật khẩu hiện tại
              </div>
            </div>
          </div>
          <div class="form-outline m-2" style="width: 50%">
            <label class="input-placeholder">Mật khẩu mới</label>
            <input formControlName="newPassword" type="password" class="form-control"
            />
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="help-block mt-1">
              <div *ngIf="newPassword.errors?.required" class="text-danger">
                Vui lòng nhập mật khẩu mới
              </div>
            </div>
          </div>
          <div class="form-outline m-2" style="width: 50%">
            <label class="input-placeholder">Xác nhận mật khẩu</label>
            <input formControlName="confirmPassword" type="password" class="form-control"
            />
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="help-block mt-1">
              <div *ngIf="confirmPassword.errors?.required" class="text-danger">
                Vui lòng nhập xác nhận mật khẩu
              </div>
          </div>
          </div>
          <div class="button-add-address m-3 pb-3  ">
            <button type="submit" class="btn btn-primary">
              <span *ngIf="loading"><i *ngIf="loading" class="fa fa-spinner"></i> Loading...</span>
              <span class="m-r-n-lg" *ngIf="!loading">Lưu</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

