<div class="container">
  <div class="row ">
    <div class="background col col-12">
      <div class="header">
        <p class="header-title">Đổi mật khẩu</p>
      </div>
      <form>
        <div class="wrap-form-change-password ">
          <div class="form-outline m-2" style="width: 50%">
            <label class="input-placeholder">Mật khẩu hiện tại</label>
            <input formControlName="oldPassword" type="password" class="form-control"
            />
          </div>
          <div class="form-outline m-2" style="width: 50%">
            <label class="input-placeholder">Mật khẩu mới</label>
            <input formControlName="newPassword" type="password" class="form-control"
            />
          </div>
          <div class="form-outline m-2" style="width: 50%">
            <label class="input-placeholder">Xác nhận mật khẩu</label>
            <input formControlName="confirmPassword" type="password" class="form-control"
            />
          </div>
        </div>
      </form>
      <div class="button-add-address m-3 pb-3 ">
        <button type="button" class="btn btn-primary ">Lưu</button>
      </div>
    </div>
  </div>
</div>

