$sub-text-color: #757575;
$default-color: #0068f0;
$white: #ffffff;
$fix: #1a9cb7;
$delete: red;
$acive: #4caf50;
.background {
  background-color: $white;
  width: 1000px;

  .header {
    .header-title {
      font-size: 25px;
      padding-left: 10px;
      padding-top: 10px;

    }

  }

  .wrap-form-change-password {
    display: flex;
    flex-direction: column;

    .form-outline {
      display: flex;
      flex-direction: column;
      .input-placeholder {
    text-align: left !important;
      }

      .form-control {
        width: 250px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
        margin-bottom: 10px;

        :focus {
          outline: none;
        }

      }
    }
  }

  .button-add-address {
    text-align: center;
  }
}

.active {
  font-weight: bold !important;
}
