<div class="process">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <ul class="row process-list">
          <li class="col col-md-4 process-item"
            [ngClass]="process === 1 ? 'active' : ''"
          >
            <h2 class="title">
              01
            </h2>
            <p class="text">
              Giỏ hàng
            </p>
          </li>
          <li class="col col-md-4 process-item"
              [ngClass]="process === 2 ? 'active' : ''"
          >
            <h2 class="title">
              02
            </h2>
            <p class="text">
              Kiểm tra đơn hàng
            </p>
          </li>
          <li class="col col-md-4 process-item"
              [ngClass]="process === 3 ? 'active' : ''"
          >
            <h2 class="title">
              03
            </h2>
            <p class="text">
              Đặt hàng thành công
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
