<div class="container">
  <div class="row ">
    <div class="background col col-12">
      <div class="header">
        <p class="header-title">Địa chỉ nhận hàng</p>
      </div>
      <div class="wrap-order-detail-history  row g-0">
        <div class="wrap-address col col 8">
          <p class="name">Huỳnh Văn Hữu Ân </p>
          <p class="phone"> 0982377894</p>
          <p class="address"> Tổ 24, Khu Phố Hương Phước, Phước Tân, Biên Hoà, Đồng Nai</p>
        </div>
        <div class="straight"></div>
        <div class="wrap-status col col 3">
          <p class="status">Đã giao hàng</p>
          <p class="time">10:00:00</p>
        </div>
      </div>
      <div class="wrap-order-component">
        <div class="order-item">
          <div class="row">
            <div class="item-pic col-md-2"><img
              src="https://product.hstatic.net/1000230642/product/0688_965b9a9d0b19435da9a28c402ccd71e2.png" alt=""
              class="image-product"></div>
            <div class="item-info col-md-4">
              <div class="info-product">
                Giày Bitis Hunter Midnight Black
              </div>
              <div class="sub-info-product">
                <span class="filter">Phân loại hàng: <span class="filter-detail">Đen</span></span>
              </div>
            </div>
            <div class="item-price col-md-3">1.000.000 đ</div>
            <div class="item-quantity col-md-3"><span class="label-quantity">Qty: <span
              class="quantity">1</span> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="order-wrap-total-price">
        <span class="total-price">Tổng số tiền: <span class="total-price-value">1.000.000đ</span></span>
        <!--    Tuỳ trường hợp mà nút thay đổi theo trạng thái đơn hàng ... Đã giao thì không có nút ...-->
        <div class="wrap-button">
          <button class="btn btn-primary btn-order-cancel">Huỷ đơn hàng</button>
        </div>
      </div>
    </div>

  </div>
</div>

