<div class="container">
  <div class="row ">
    <div class="background col col-12">
      <div class="header d-flex justify-content-between">
        <p class="header-title">Địa chỉ nhận hàng</p>
        <a class="status-item-detail" [routerLink]="['/account/order-history']">Trở về</a>
      </div>
      <div class="wrap-order-detail-history  row g-0">
        <div class="wrap-address col col 8">
          <p class="name">{{order.fullName}}</p>
          <p class="phone">{{order.phone}}</p>
          <p class="address">{{formatAddress(order.address)}}</p>
        </div>
        <div class="straight"></div>
        <div class="wrap-status col col 3">
          <span class="status d-block">{{formatDate(order.createdAt)}} - Chờ xác nhận</span>
          <span *ngIf="order.shippingDate != null" class="status d-block">{{formatDate(order.shippingDate)}} - Đang giao hàng</span>
          <span *ngIf="order.completedAt != null" class="status d-block">{{formatDate(order.completedAt)}} - Đã giao hàng</span>
          <span *ngIf="order.canceledAt != null" class="status d-block">{{formatDate(order.canceledAt)}} - Đã huỷ</span>
        </div>
      </div>
      <div class="wrap-order-component">
        <div *ngFor="let orderItem of order.orderItems" class="order-item">
          <div class="row">
            <div class="item-pic col-md-2 text-center"><img src="{{images.get(orderItem.productDetail.id)}}" alt="" class="image-product"></div>
            <div class="item-info col-md-6">
              <div class="info-product">{{orderItem.productDetail.name}}</div>
              <div class="sub-info-product">
                <span class="filter">Phân loại hàng: <span class="filter-detail">{{orderItem.productDetail.size}}</span></span>
              </div>
            </div>
            <div class="item-price col-md-2">{{formatVND(orderItem.unitPrice)}}</div>
            <div class="item-quantity col-md-2"><span class="label-quantity">Số lượng: <span class="quantity">{{orderItem.quantity}}</span> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="order-wrap-total-price">
        <span class="total-price">Tổng số tiền: <span class="total-price-value">{{formatVND(order.totalPrice)}}</span></span>
        <!--    Tuỳ trường hợp mà nút thay đổi theo trạng thái đơn hàng ... Đã giao thì không có nút ...-->
        <div class="wrap-button">
          <button *ngIf="order.status.id === 0" class="btn btn-primary btn-order-cancel" (click)="openPopConfirm($event,
        order.orderTrackingNumber)">Huỷ đơn hàng</button>
        </div>
      </div>
    </div>

  </div>
</div>

