$fix: #1a9cb7;
$primary-color: #00c7b4;
$delete: red;
$acive: #4caf50;
$white: #ffffff;
$black: #000000;
$border-color: #e8e8e8;
$sub-address-color: #0000008a;
$border: #dadada;
$sub-text-color: #bbb;
$white: #ffffff;
$background-detail: #30a2c4;
.background {
  background-color: $white;
  width: 1000px;

  .header {
    .header-title {
      font-size: 25px;
      padding-left: 10px;
      padding-top: 10px;

    }

    .status-item-detail {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background-detail;
      color: $white;
      margin: 12px 4px;
      padding: 0 12px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .wrap-order-detail-history {
    .wrap-address {
      padding-left: 10px;

      .name {
        font-size: 16px;
        font-weight: 500;
        line-height: 12px;

      }

      .phone {
        line-height: 12px;
        color: $sub-address-color;
      }

      .address {
        line-height: 12px;
        color: $sub-address-color;
      }
    }

    .straight {
      width: 2px;
      background-color: $border-color;
      margin-bottom: 10px;
    }

    .wrap-status {
      margin-left: 20px;
    }
  }
  .wrap-order-component {
    margin-top: 30px;
    .order-item {
      padding: 30px 0px;
      border-top: 2px solid $border;

      .row {
        .item-pic {
          .image-product {
            width: 100px;
            height: 100px;
            border-radius: 10%;
          }
        }

        .item-info {
          .info-product {
          }

          .sub-info-product {
            color: $sub-text-color;
          }
        }

        .item-price {
        }

        .item-quantity {
        }

      }
    }
  }

  .order-wrap-total-price {
    margin-top: 30px;
    padding-right: 10px;
    text-align: right;

    .total-price {
      font-weight: 450;

      .total-price-value {
        font-weight: bold;
        color: $primary-color;
      }

    }

    .wrap-button {
      margin-top: 10px;
      padding-bottom: 20px;

    }
  }

}
