<div class="order-complete">
  <div class="container">
    <breadcrumb></breadcrumb>

    <process></process>

    <div class="row">
      <div class="col-md-12 icon-check--wrapper">
        <div class="icon-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-12 thank-you-title">
        <h1>Thank you for purchasing, Your order is complete</h1>
      </div>
      <div class="row col-md-12">
        <div class="col btn-back-home">
          <a href="index.html" class="btn btn-primary">Back to Home</a>
        </div>
        <div class="col btn-continue-shopping">
          <a href="index.html" class="btn btn-primary">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
</div>
