.order-complete {
  padding: 20px;
  margin-bottom: 60px;
  .icon-check--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    .icon-check {
      width: 200px;
      height:200px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #00c7b4;
      font-size: 100px;
      border-radius: 50%;
      background-color: #faf9f8;
    }
  }
  .thank-you-title {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      line-height: 1.5;
      color: #000;
      font-weight: 400;
      font-size : 24px;
    }
  }
  .btn-back-home {
    text-align: right;
  }
}
