<div class="filters">
  <div class="row">
  <ul class="filter-list col col-xl-12 p-3">
      <li class="filter-item">
        <h3 class="filter-title">
          Brand
        </h3>
        <ul class="sub-list">
          <li class="sub-item">
            <a href="" class="sub-link">Nike</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Adidas</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Merrel</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Gucci</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Skechers</a>
          </li>
        </ul>
      </li>
      <li class="filter-item">
        <h3 class="filter-title">
          Size/ Width
        </h3>
        <ul class="sub-list">
          <li class="sub-item">
            <h4 class="sub-title">Size
            </h4>
            <ul class="dimension-list row">
              <li class="dimension-item">
                <a href="" class="dimension-link">7</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">7.5</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">8</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">8.5</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">9</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">9.5</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">10</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">10.5</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">11</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">11.5</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">12</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">12.5</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">13</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">13.5</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">14</a>
              </li>
            </ul>
        </ul>
        <ul class="sub-list">
          <li class="sub-item">
            <h4 class="sub-title">Width
            </h4>
            <ul class="dimension-list row">
              <li class="dimension-item">
                <a href="" class="dimension-link">M</a>
              </li>
              <li class="dimension-item">
                <a href="" class="dimension-link">W</a>
              </li>
            </ul>
        </ul>
      </li>
      <li class="filter-item">
        <h3 class="filter-title">
          Style
        </h3>
        <ul class="sub-list">
          <li class="sub-item">
            <a href="" class="sub-link">Slip Ons</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Boots</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Sandals</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Lace Ups</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Oxfords</a>
          </li>
        </ul>
      </li>
      <li class="filter-item">
        <h3 class="filter-title">
          Colors
        </h3>
        <ul class="sub-list">
          <li class="sub-item">
            <a href="" class="sub-link">Black</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Blue</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">White</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Red</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Green</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Grey</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Orange</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Cream</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Brown</a>
          </li>
        </ul>
      </li>
      <li class="filter-item">
        <h3 class="filter-title">
          Materials
        </h3>
        <ul class="sub-list">
          <li class="sub-item">
            <a href="" class="sub-link">Leather</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Suede</a>
          </li>
        </ul>
      </li>
      <li class="filter-item">
        <h3 class="filter-title">
          Technologies
        </h3>
        <ul class="sub-list">
          <li class="sub-item">
            <a href="" class="sub-link">BioBevel</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">Groove</a>
          </li>
          <li class="sub-item">
            <a href="" class="sub-link">FlexBevel</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
