<div class="filters">
  <div class="row">
  <ul class="filter-list col col-xl-12 p-3">
      <li class="filter-item">
        <h3 class="filter-title">
          Sắp xếp theo giá
        </h3>
        <ul class="sub-list">
          <li
            class="sub-item">
            <input
              (change) = "sort(0)"
              class="me-3"
              type="radio" name="sort"
            >
            <p class="sub-link">Tăng dần</p>
          </li>
          <li
            class="sub-item">
            <input
              (change) = "sort(1)"
              class="me-3"
              type="radio" name="sort"
            >
            <p class="sub-link">Giảm dần</p>
          </li>
        </ul>
      </li>
      <li class="filter-item">
        <h3 class="filter-title">
          Các loại sản phẩm
        </h3>
        <ul class="sub-list">
          <li
            *ngFor="let item of productTypes"
            class="sub-item">
            <input
              (change) = "changeType()"
              class="me-3"
              type="checkbox" name="types" value="{{item.id}}">
            <p class="sub-link">{{item!.name}}</p>
          </li>
        </ul>
      </li>
    <li class="filter-item">
      <h3 class="filter-title">
        Các thương hiệu chúng tôi có
      </h3>
      <ul class="sub-list">
        <li class="sub-item"
            *ngFor="let item of brands">
          <input
            class="me-3"
            (change) = "changeBrand()"
            type="checkbox" name="brands" value="{{item.id}}">
          <p href="" class="sub-link">{{item.name}}</p>
        </li>
      </ul>
    </li>
      <li class="filter-item">
        <h3 class="filter-title">
          Colors
        </h3>
        <ul class="sub-list">
          <li
            *ngFor="let item of colors"
            class="sub-item">
            <input
              (change) = "changeColor()"
              class="me-3"
              type="checkbox" name="colors" value="{{item.id}}">
            <p class="sub-link">{{item!.name}}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
