.order-list {
  padding:10px 15px;

  .order-list--wrapper {
    padding:20px 15px;
    background-color: whitesmoke;
  }

}
.form-check-out {
  padding:10px 15px;
  .form-check-out--wrapper {
    background-color: whitesmoke;
    padding:20px 15px;
  }

}
.custom-select {
  height:34px;
}
