<div class="container">
  <div class="row">
    <div class="background">
      <div class="header">
        <div class="header-title">
          Thông tin cá nhân
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="left-profile col-md-9">
            <form id="profile-form">
                <div class="row">
                  <div class="col-md-6">
                    <label class="input-placeholder">Họ tên</label>
                    <input type="text" class="form-control" id="name" value="Hoàng Nguyễn Quang Huy">
                  </div>
                  <div class="col-md-6">
                    <label class="input-placeholder">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn">
                  </div>

                </div>
                <div class="row mt-3">
                  <div class="col-md-6">
                    <label class="input-placeholder">Ngày sinh</label>
                    <input type="date" class="form-control" id="birthday">
                  </div>
                  <div class="col-md-6">
                    <label class="input-placeholder">Số điện thoại</label>
                    <input type="email" class="form-control" id="phone" value="09823377894">
                  </div>
                </div>
            </form>
          </div>
          <div class="right-profile col-md-3">
            <div class="wrap-img">
              <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/277767378_3192045234372468_4606540482441785424_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=CnfQZXUcwaAAX9vJhfk&tn=1nB09Cyra-twYRJY&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT9j1Hgp6N1XhxHPMhQSm7tuBmwr_GXPDw8aXDMHh4BDyA&oe=63023FAF" class="avatar">
              <div class="wrap-button">
                <button type="button" class="btn btn-primary btn-change-avatar" data-toggle="modal" data-target="#myModal">
                  Chọn ảnh
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap-button">
        <button type="button" class="btn btn-primary btn-save">Lưu</button>
      </div>
    </div>
  </div>
</div>
