<div class="container">
  <div class="row">
    <div class="background">
      <div class="header">
        <div class="header-title">
          Thông tin cá nhân
        </div>
      </div>
      <form id="profile-form" #saveProfileForm="ngForm" [formGroup]="saveProfileFormGroup" (ngSubmit)="onSubmit(saveProfileForm.value)">
        <input formControlName="id" type="hidden" value="{{user.id}}">
        <div class="container">
          <div class="row">
            <div class="left-profile col-md-9">
              <div class="row">
                <div class="col-md-3">
                  <label class="input-placeholder">Họ của bạn</label>
                  <input formControlName="lastName" type="text" class="form-control" id="lastName" value="{{user.lastName}}">
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="help-block mt-1">
                    <div *ngIf="lastName.errors?.required" class="text-danger">
                      Vui lòng nhập họ của bạn
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="input-placeholder">Tên của bạn</label>
                  <input formControlName="firstName" type="text" class="form-control" id="firstName" value="{{user.firstName}}">
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="help-block mt-1">
                    <div *ngIf="firstName.errors?.required" class="text-danger">
                      Vui lòng nhập tên của bạn
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="input-placeholder">Email</label>
                  <input formControlName="email" type="email" class="form-control" id="email" value="{{user.email}}" [attr.disabled]="true">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="input-placeholder">Số điện thoại</label>
                  <input formControlName="phone" type="text" class="form-control" id="phone" value="{{user.phone}}">
                </div>
                <div class="col-md-6">
                  <label class="input-placeholder">Ngày sinh</label>
                  <input formControlName="dateOfBirth" type="date" class="form-control" id="birthday" value="{{dateOfBirthFormat}}">
                </div>
              </div>
            </div>
            <div class="right-profile col-md-3">
              <div class="wrap-img">
                <img src="{{authenticationService.loggedInAvatar}}" class="avatar" alt="">
                <div class="wrap-button">
                  <button type="button" class="btn btn-primary btn-change-avatar" data-toggle="modal" data-target="#myModal">
                    Chọn ảnh
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-button">
          <button type="submit" class="btn btn-primary btn-save">
            <span *ngIf="loading"><i *ngIf="loading" class="fa fa-spinner"></i> Loading...</span>
            <span *ngIf="!loading">Lưu</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
