/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~mdb-angular-calendar/scss/calendar.scss';
@import '~mdb-angular-wysiwyg/scss/wysiwyg.scss';
@import '~mdb-angular-drag-and-drop/scss/drag-and-drop.scss';
@import '~mdb-angular-vector-maps/scss/vector-map.scss';
@import '~mdb-angular-file-upload/scss/file-upload.scss';
@import '~mdb-angular-treeview/scss/treeview.scss';
@import '~mdb-angular-transfer/scss/transfer.scss';
@import '~mdb-angular-mention/scss/mention.scss';

/* STYLESHEET VARIABLES */
$primary-color: #00c7b4;
$text-color: #232323;
$border-grey-color:#e8e8e8;
$background-color-about-us:#e8fbfc;
$color-input-about-us:#f5f5f5;
$header-text-color: #4f4f4f;
$header-sub-main-color: #1377d3;
.nav-link.active {
  background-color: $primary-color !important;
}

.btn-primary {
  background-color: $primary-color;
}
